In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
petrol_price_df = pd.read_excel('bangalore_petrol_price.xlsx')
petrol_price_df

                  Month  Delhi  Kolkata  Mumbai  Chennai
0        March 14, 2020  69.87    72.57   75.57    72.57
1                 Month  Delhi  Kolkata  Mumbai  Chennai
2        March 01, 2020  71.71    74.38    77.4    74.51
3     February 01, 2020  73.19    75.85   78.83    76.03
4      January 01, 2020  75.14    77.79   80.79    78.12
..                  ...    ...      ...     ...      ...
59  1992-09-16 00:00:00  15.71      NaN     NaN      NaN
60  1991-07-25 00:00:00  14.62      NaN     NaN      NaN
61  1990-10-15 00:00:00  12.23      NaN     NaN      NaN
62  1990-03-20 00:00:00   9.84      NaN     NaN      NaN
63  1989-04-01 00:00:00    8.5      NaN     NaN      NaN

[64 rows x 5 columns]

In [3]:
petrol_price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Month    62 non-null     object
 1   Delhi    61 non-null     object
 2   Kolkata  45 non-null     object
 3   Mumbai   45 non-null     object
 4   Chennai  45 non-null     object
dtypes: object(5)
memory usage: 2.6+ KB