In [1]:
import pandas as pd
import random
import re

C:\Users\Arjun Janamatti\Anaconda3\envs\tf_nptel\lib\site-packages\numpy\core\__init__.py:29: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Arjun Janamatti\Anaconda3\envs\tf_nptel\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\Arjun Janamatti\Anaconda3\envs\tf_nptel\lib\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
class_interval = ['20-under 30',
                  '30-under 40',
                  '40-under 50',
                  '50-under 60',
                  '60-under 70',
                  '70-under 80',]

In [3]:
frequency = [random.randint(5,20) for n in range(len(class_interval))]

In [4]:
# class midpoint
nested_list = [re.findall("\d+", n) for n in class_interval]
class_midpoint = [sum([int(i) for i in l])*0.5 for l in nested_list]

In [5]:
new_df = pd.DataFrame()

In [6]:
new_df['class_interval'] = class_interval
new_df['frequency'] = frequency
new_df['class_midpoint'] = class_midpoint
new_df

  class_interval  frequency  class_midpoint
0    20-under 30          5            25.0
1    30-under 40         19            35.0
2    40-under 50         16            45.0
3    50-under 60         18            55.0
4    60-under 70         13            65.0
5    70-under 80         12            75.0

In [7]:
new_df['fM'] = new_df['frequency'] * new_df['class_midpoint']
new_df

  class_interval  frequency  class_midpoint     fM
0    20-under 30          5            25.0  125.0
1    30-under 40         19            35.0  665.0
2    40-under 50         16            45.0  720.0
3    50-under 60         18            55.0  990.0
4    60-under 70         13            65.0  845.0
5    70-under 80         12            75.0  900.0

In [9]:
grouped_mean = sum(new_df['fM']) / sum(new_df['frequency'])
grouped_mean

51.144578313253014