In [1]:
import pandas as pd
import random
import re

In [2]:
class_interval = ['20-under 30',
                  '30-under 40',
                  '40-under 50',
                  '50-under 60',
                  '60-under 70',
                  '70-under 80',]

In [4]:
frequency = [random.randint(5,20) for n in range(len(class_interval))]

In [20]:
# class midpoint
nested_list = [re.findall("\d+", n) for n in class_interval]
class_midpoint = [sum([int(i) for i in l])*0.5 for l in nested_list]

In [18]:
new_df = pd.DataFrame()

In [19]:
new_df['class_interval'] = class_interval
new_df['frequency'] = frequency
new_df['class_midpoint'] = class_midpoint
new_df

  class_interval  frequency  class_midpoint
0    20-under 30         13            25.0
1    30-under 40         19            35.0
2    40-under 50         13            45.0
3    50-under 60         11            55.0
4    60-under 70          9            65.0
5    70-under 80          6            75.0